<mat-list>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"><mat-icon>list_alt</mat-icon></div>
      <mat-card-title *ngIf="instrumento"> <h1>{{instrumento.titulo}} </h1> </mat-card-title>
    </mat-card-header>
   
    <mat-card-content>
      <p *ngIf="instrumento">
        {{instrumento.descripcion}}
      </p>
    </mat-card-content>

  </mat-card>





  <mat-divider></mat-divider>
  <mat-list-item>
   

    

  </mat-list-item>








  <mat-divider></mat-divider>
  <div>
    <app-pregunta-instrumento *ngFor="let pregunta of preguntas"  (deleteClicked)="deletePregunta($event)"   (editClicked)="uploadAlternativa($event);openDialog()"  [pregunta] = "pregunta"></app-pregunta-instrumento>


  </div>
  <mat-divider></mat-divider>

  

</mat-list>



<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-lightred blue lighten-2 pulse" (click)="openDialog()">
    
  </a>
</div>


<ng-template #PreguntaDialog>

<mat-dialog-content>
  <!--button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button-->
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step label="Crea tu pregunta">
      <form #preguntaForm="ngForm" (ngSubmit)="onSend(preguntaForm)">
        <div class="row">

      
          <div class="col l6">
           
            <input matInput type="text" placeholder="Pregunta" name="nombre" [(ngModel)]="pregunta.nombre" required>
          
            
          </div>
    
          <div class="col l6">
            <input  matInput type="text" placeholder="peso" name="peso" [(ngModel)]="pregunta.peso" required>  
            
          </div>
         
      
        </div>



        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Añade las alternativas">
    <form>
        <form #sasaForm="ngForm" (ngSubmit) ="onSubmitAlternativa(sasaForm)">
          <div class="row">
            <div class="col l8">


              <input matInput type="text"  placeholder="alternativa"  name="nombre" ngModel> 
            </div>
            
            <div class="col l2">
  
              <mat-checkbox class="example-margin" ngModel name="correcta_estado">Pregunta correcta</mat-checkbox>
            </div>
          </div>

       
          

          <button type="submit" class="btn blue lighten-2" style="margin: 0 0 10px 10px;">Crear</button>
        </form> 

        <app-alternativa-instrumento *ngFor="let alt of alternativas" (deleteClicked)="deleteAlternativa($event)" [alternativa] = "alt"></app-alternativa-instrumento>


        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Terminado</ng-template>
      <p>Felicidades ya tienes tu formulario!!</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="closeAll(sasaForm,preguntaForm)">Gracias</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</mat-dialog-content>


  <!--form #preguntaForm="ngForm" (ngSubmit)="onSend(preguntaForm)">
  <h2 mat-dialog-title>Pregunta</h2>

  <mat-dialog-content>
    <div class="row">

      
      <div class="col l6">
       
        <input matInput type="text" placeholder="Pregunta" name="nombre" ngModel required >
      
        
      </div>

      <div class="col l6">
        <input  matInput type="text" placeholder="peso" name="peso" ngModel required>  
        
      </div>
     
  
    </div>
  <mat-divider></mat-divider>
  <h2 mat-dialog-title>Alternativas</h2>
  

  </mat-dialog-content>
            
  <mat-dialog-actions >
      <button mat-button matDialogClose="no">Cancel</button>
      <button type="submit" mat-button>Submit</button>
  </mat-dialog-actions>


  

</form-->



</ng-template>
















<!--div class="card-content valign center">

  <h1 class=" red-text text-accent-4" *ngIf="instrumento">  {{agregar}} {{instrumento.titulo}}</h1>


</div>



<div class="card">

  <div class="card-content">

    <form #q="ngForm" (ngSubmit)="onSubmit(q)">

      <div class="question">
        <div class="row">

          <div class="input-field col s10">
            <textarea id="pregunta" class="materialize-textarea" name="nombre" [(ngModel)]="pregunta.nombre"></textarea>
            <label for="pregunta">Tu pregunta</label>
          </div>


          <div class="input-field col s2">
            <input id="peso" type="text" class="validate" name="peso" [(ngModel)]="pregunta.peso">
            <label for="peso">Peso</label>
          </div>




        </div>




      </div>
      <button type="submit" class="btn blue lighten-2" style="margin: 0 0 10px 10px;">Crear</button>

    </form>

  </div>


</div>



<div class="card-content valign center">

  <h1 class=" red-text text-accent-4"> {{listado}}</h1>


</div>

<div class="card" *ngFor="let p of preguntas">

  <div class="card-content">

    <form #update="ngForm" (ngSubmit)="updatePregunta(update)">

      <div class="questions">
        <a style="cursor: pointer;" class="grey-text text-darken-4" (click)="enableForm(p.pregunta_id)">
          <mat-icon>create</mat-icon>
        </a>
        <div class="row">



          <div class="col s10 input-field">
            <textarea name="nombre" class="materialize-textarea" placeholder="Your Question"
              [ngClass]="pregunta.pregunta_id == p.pregunta_id && statussClass? 'input-change-true':'input-change'"
              [(ngModel)]="p.nombre"> </textarea>
          </div>

          <div class="input-field col s2">
            <input type="text" class="validate" name="peso"
              [ngClass]="pregunta.pregunta_id == p.pregunta_id && statussClass? 'input-change-true':'input-change'"
              [(ngModel)]="p.peso">
          </div>

        </div>

        <div class="row valign-wrapper">


          <div class="col m3 offset-m1 center-align">

            <button class="btn blue lighten-2" [routerLink] = "['alternativa',p.pregunta_id]">Alternativas</button>


          </div>

          <div class="col m1">
            <a href="#" class="grey-text" (click)="deleteQuestion()">
              <mat-icon>delete</mat-icon>
              <i class="mdi mdi-delete small remove_icon"></i>
            </a>
          </div>


          <div class="col m3 right">

            <button *ngIf="pregunta.pregunta_id == p.pregunta_id && statussClass" class="btn blue lighten-2" type="submit">Enviar</button>
          </div>
        </div>

      </div>

    </form>

  </div>


</div -->