

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" position="end">
        <div class="datos-imagen" style="text-align: center;">
            <img src="../../../../assets/images/logo-upeu-blanco-italic.png" alt="logo yupeu" style="width: 70%; height: 70%;">
           
        </div>
        <div class="datos" style="display: flex; flex-direction: column; margin: 20rem 0 0 0;">
            <img style="align-self: center;" src="https://png.pngtree.com/element_our/png/20181206/users-vector-icon-png_260862.jpg" width="20%" height="20%">
            <h2 style="color: white; width: 11rem; align-self: center;">Victor Alexander Campos Valverde</h2>
             <p style="align-self: center;">UPEU SEDE </p>
            <button style="align-self: center;">CERRAR SESION</button>
        </div>


    </mat-sidenav>
    <mat-sidenav-content style="display: flex; flex-flow: column;">

        <!--button (click)="opened=!opened">toogle</button-->
        <button (click)="sidenav.toggle()" style="background: none; border: 0; align-self: flex-end; cursor: pointer;">
            <mat-icon style="color: #6c1a3f; ">arrow_forward_ios</mat-icon>
        </button>



        <div class="content">

            <div fxLayout="row wrap" fxLayoutGap="16px grid">
                <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let num of [1,2,3,4,5,6,7]">
                
                    <mat-card class="example-card">
                        <a href="">  
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
                          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                        </mat-card-header>
                       
                        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                        <mat-card-content>
                           
                            <mat-icon class="card-icon">microwave</mat-icon>
                            <p class="card-icon-text">Proyectos integradores</p>
                            
                        </mat-card-content>
                        <mat-card-actions>
                          <!-- <button mat-button>LIKE</button>
                          <button mat-button>SHARE</button> -->
                        </mat-card-actions>
                        </a>
                      </mat-card>
                </div>
        
        
            </div>
         
              
        
        </div>
    
        
    </mat-sidenav-content>


    

</mat-sidenav-container>



